<h1 class="flex justify-center text-3xl mt-9 text-indigo-500 font-mono">Log in</h1>

<div class="w-full mb-96">   
  <div class="container justify-center mx-auto">
    <%= form_with(scope: :session, url:login_path, local: true) do |f| %>
      <div class="mb-6">
        <p class="block mb-2 text-xl font-medium text-indigo-600 dark:text-white">
          <%= f.label :email %>
        </p>
        <p class="bg-gray-50 border border-gray-300 text-indigo-500 text-sm rounded-lg focus:ring-violet-300 focus:border-violet-300 block w-full p-2.5">
          <%= f.email_field :email %>
        </p>
      </div>

      <div class="mb-6">
        <p class="block mb-2 text-xl font-medium text-indigo-600 dark:text-white">
          <%= f.label :password %>
        </p>
        <p class="bg-gray-50 border border-gray-300 text-indigo-500 text-sm rounded-lg focus:ring-violet-300 focus:border-violet-300 block w-full p-2.5">
          <%= f.password_field :password %>
        </p>
      </div>

      <div class="text-white text-base bg-indigo-400 hover:bg-violet-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center p-10">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
  </div>
</div>

<%= render 'articles/footer' %>