<div class="container relative">
  <h1 class="flex justify-center text-3xl mt-9 mb-3 text-indigo-500 font-mono">Alpha Bloggers</h1>

  <div class="flex justify-center tracking-widest text-indigo-700  font-mono text-xl mt-2">
    <%= will_paginate @users, :container => false %>
  </div>

  <% @users.each do |user| %>
    <div class="container mx-auto my-4 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <p class="font-normal text-xl text-center italic mt-3 text-indigo-700 hover:text-indigo-500">
        By <%= link_to user.username, user %>
      </p>

      <div class="p-5">
        <div class="flex justify-center">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-indigo-700 dark:text-white hover:underline hover:text-indigo-400">
            <%= link_to gravatar_for(user, size: 150), user %>
          </h5>
        </div>
      
        <p class="flex justify-center mb-3 font-normal text-indigo-700 dark:text-gray-400 truncate">
          <%= pluralize(user.articles.count, "article") %>
        </p>

        <p class="mb-3 font-normal text-sm text-center italic text-indigo-700">
          Joined <%= time_ago_in_words(user.created_at) %> ago
        </p>

        <div class="flex justify-center mt-8">
          <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium focus:outline-none rounded-lg text-indigo-700 hover:bg-indigo-300 border border-gray-200 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <%= link_to 'View profile', user %>
          </button>

          <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium focus:outline-none rounded-lg text-indigo-700 hover:bg-indigo-300 border border-gray-200 hover:text-white focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <%= link_to 'Edit profile', edit_user_path(user) %>
          </button>

        </div>  
      </div>
    </div>
  <% end %>

  <div class="flex justify-center tracking-widest text-indigo-700  font-mono text-xl mb-2">
    <%= will_paginate @users, :container => false %>
  </div>
  
  <div class="w-full">
    <div class="flex justify-center font-mono text-indigo-500 hover:text-indigo-500/50 text-xl mt-4">
      <%= link_to 'Return to articles listing', articles_path %>
    </div>
  </div>

  <%= render 'articles/footer' %>

</div>